*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --yellow:#0ef;
    --black:#1f242d;
    --white:#fff;
    --light:#323946;
}
body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    
}
/* header */
header{
    width: 100%;
    background-color:var(--yellow);
    background-position: center;
    position: fixed;
    z-index: 99;
    
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    

}
.logo{
    font-size: 30px;
    font-weight: bolder;
    color:var(--black);
}
.logo::first-letter{
    font-size: 40px;
    outline-color:7px black;
    color: rgb(36, 45, 146);
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;

}
nav ul li a{
    color:black;
    font-weight: bold;
    font-size: larger;
    
}
nav ul li a:hover{
    text-decoration: underline
}
.active{
    text-decoration: underline;
}
/* section1 */
.sec1{
    background-image:url(images/black-background.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;
    

}
.sec1 .flex{
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin: auto;
    padding-top: 98px;
    padding-bottom: 100px;

}
.sec1 h1{
    padding-top: 100px;
    color:white;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 700;
}
.sec1 p{
    padding-top: 50px;
    color:var(--yellow);
    font-size: 30px;
    width: 70%;
    font-weight: bolder;
    word-spacing: 2px;
}
.container{
    position: relative;
}


.container > .flex > div:first-child > a {
    background-color:var(--yellow);    
    box-shadow: 0 0 1rem var(--yellow);
    width: 100%;
    text-align: center;
    font-size: 1.56rem;
    border: transparent;
    text-transform: uppercase;
        max-width: 321px;
        border-radius: 55px;
        margin-top: 44px;
        font-weight: bold;
        height: 43px;
        display: inline-block;
        padding-top: 10px;
        color:var(--black);
    

}
.container > .flex > div:first-child > a:hover{
    box-shadow: none;
}
.container .flex .image img{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 7px solid var(--yellow);
    box-shadow: 0 0 1rem var(--yellow) ;
    border-radius: 10%;
    height: 400px;
    cursor: grab;
}

.container .flex .image img:hover{
    transform: scale(1.25);
}
.container .socail{
    position: fixed;
    top: 40%;
    left: 6%;
    z-index: 999;
    padding:20px
    
}
.newsocail{
    background-color: var(--black); 
    border-radius: 20px;
    padding: 20px;
}
.container .socail a i{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    line-height: 70px;
    color: var(--yellow);
    transition: 0.5s ease;
}
.container .socail a i:hover{
    transform: scale(2);

}
/* aboutme */

.aboutme{
    background-image:url(images/section2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.aboutme .container{
    width: 80%;
    margin: auto;
    padding: 150px;
}
.aboutme h2{
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    
}
.aboutme p{
    color: var(--yellow);
    font-size: 30px;
    padding: 70px;
}
/* services section && projects section */
.section3,.section4{
    padding-top: 135px;
    padding-bottom: 75px;
}
.section3 > div.container3 > div.heading,.section4 > div.container4 > div.heading{
    font-size: 45px;
    color: var(--white);
    font-weight: bolder; 
    text-align: center;
}
  .section3 > div.container3 > div.background,.section4 > div.container4 > div.background{
    
    background-image: url(images/lightblue.png);
    background-size: cover;
    background-repeat: no-repeat;
    
     /* background-color: var(--yellow); */
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding:100px;
    border-radius: 50px;
  }
   .section4 > div.container4 > div.background{
    background-image: url(images/images.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  } 
   .section3 > div.container3 > div.background > div.flex3,.section4 > div.container4 > div.background > div.flex4{
    display: flex;
    justify-content: space-around;
  
  }
  .section4 > div.container4 > div.background > div.flex4 > article{
    flex-basis: 30%;
    background-color:var(--light);
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    font-weight: bolder;
    color: white; 
    border: 2px solid var(--white); 
    color:var(--yellow);
  }
  .section3 > div.container3 > div.background > div.flex3 > .portfoliobox{
    border-radius: 10px;

    position: relative;
    display: flex; 
    overflow: hidden;
  }
  .portfoliobox .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient( rgba(0, 0, 0, 0.1),var(--yellow));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translatey(100%);
    transition: 0.5s ease;
    
  }
  .overlay h4{
  margin-bottom: 5px;
  }
  .overlay p{
    font-size: 24px;
    padding-bottom: 10px;
  }
  .overlay i{
    font-size: 40px;
    }
  .portfoliobox:hover .overlay{
    transform: translateY(0);
  }
  .overlay h4{
    font-size: 30px;
  }
  .overlay p{
    font-size: 15px;
    margin:1px 0 1.5px;
 }
  .section3 > div.container3 > div.background > div.flex3 > .portfoliobox img{
  width: 100%;
  transition: .5s ease;
}
.portfoliobox:hover img{
    transform: scale(1.1);
}
.section4 > div.container4 > div.background > div.flex4 > article > div > h3,.flex4 > article > h3{
    font-size:30px;
    vertical-align: middle;
    color:var(--white);
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .section4 > div.container4 > div.background > div.flex4 > article > div > p,.flex4 > article > div > p{
    line-height: 30px;
    padding-top: 20px;
    vertical-align: middle;
  }
  .section4 > div.container4 > div.background > div.flex4  article  i{
    font-size: 50px;
    
  }
  .section4 > div.container4 > div.background > div.flex4 > article  i:hover{
      transform: scale(1.5);
    }    
/* contact section */
.sec5{
    

    background-image: url(images/lightblue.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}
/* .sec5::before{
    content: "";
    background-color:var(--yellow);
    height: 100%;
    width: 100%;
    border-radius: 0 50%;
} */

.sec5 h3{
    
    text-shadow:
    /* 1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue; */0 0 1rem var(--yellow) ;
  color:black;
  margin:auto;
  font-size: 30px;
  font-weight: bolder;
  
}
.sec5 .contact form{
    /* position: absolute;
    right: 20%;
    top: 20%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 36px;
    /* border: 3px solid var(--black); */
    width: 30%;
    /* background-color:var(--light); */
}
.sec5 .contact form input{
    margin: 20px;
    height: 34pt;

    font-size:17px;
    
    border:4px solid var(--yellow);
    box-shadow: 0 0 1rem var(--yellow);
}
.sec5 .contact form  textarea{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding: 5px;
    border:4px solid var(--yellow);
    box-shadow: 0 0 1rem var(--yellow) ;
}
.sec5 .contact form button{
    align-self: self-start;
    padding: 8px 10px;
    background-color: var(--yellow);
    box-shadow:0 0 1rem var(--yellow) ;
    color: white;
    font-size: 20px;
    cursor: grab;
    border-radius: 20%;
    margin-left: 20px;
}
.sec5 .contact form button:hover{
background-color: var(--yellow);
box-shadow:0 0 1rem var(--yellow)  ;
}
#popup{
    display: none;
    position: fixed;
            top: 50%;
            left: 54%;
            transform: translate(-50%, -50%);
            padding: 80px;
            background-color: var(--light);
            border: 10px solid var(--yellow);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            
        }
        #popuptext{
            color: white;
            font-size: larger;

        }
#wrapper{
    position: relative;
}
#closebutton{
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 5px;
}
.error{
    color: red;
    font-size: 17px;
    margin-top: -12px;
    margin-left: 21px;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    background-color: var(--black);
    color: var(--yellow);
    padding: 10px 20%;
    font-size: 30px;
}
.footericon i{
    color: var(--yellow);
    
}
